.body-background {
    margin: 0;
    background-color: rgb(203, 203, 203);
    font-family: "Libre Baskerville", serif;
}

/**header**/
header {
    background-image: url('assets/images/nyc.jpg');
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 95, 0.333);
}

.header-logo {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

.revou {
    width: 50px;
}

.km,
.msib {
    width: 80px;

}

.header-title {
    text-align: center;
    color: #ffff;
}

header h1 {
    font-size: 3em;
    justify-content: center;
    line-height: 1px;
    padding-bottom: 20px;
    text-shadow:
        -3px -3px 0 navy,
        3px -3px 0 navy,
        -3px 3px 0 navy,
        3px 3px 0 navy;

}

header p {
    font-size: 2em;
    line-height: 1px;
    text-shadow:
        -2px -2px 0 #0a142f,
        2px -2px 0 #0a142f,
        -2px 2px 0 #0a142f,
        2px 2px 0 #0a142f;
}

.header-nav {
    background-color: rgba(6, 6, 50, 0.596);
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 1em;
}

.nav-item a {
    color: #ffff;
    text-decoration: none;
}

.nav-item a:hover {
    color: #0a142f;
    background-color: #ffff;
    padding: 5px;
    border-radius: 10px;
}

/**main content**/
#mainContent {
    margin: auto;
    padding: 20px;
}

.main-section {
    margin: 20px;
}

.dashboard {
    display: block;
}

.recordcount {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #f0f0f0;
    color: #0a142f;
    border: 2px solid #0a142f;
    text-align: center;
    border-radius: 10px;
}

.filter {
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
}

.filter label {
    margin-right: 5px;
}

.filter select {
    padding: 5px;
    border-radius: 5px;
}

.chart-container {
    background-color: #0a142f;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
}

.chart-container .chart-title {
    color: #ffffff;
}

.chart-container .chart-legend {
    color: #ffffff;
}

.table-container {
    background-color: #0a142f;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
}

.custom-table {
    width: 30%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

.custom-table tr {
    background-color: #f2f2f2;
}

.custom-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.custom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0a142f;
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-button {
    background-color: #0a142f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination-button:disabled {
    background-color: #4a4a4a;
    cursor: not-allowed;
}

.pagination-container span {
    margin: 0 10px;
    color: #ffffff;
}


/**Our teams**/
.member-team {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ffffff 0%, #0a142f 100%);
}

.wrapper {
    background: #fff;
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.executive-team {
    text-align: center;
}

.hr-team {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-mem {
    margin: 8px;
    text-align: center;
}

.image-member {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 13px;
}

.h4-team-member {
    text-align: center;
    font-size: 16px;
    margin: 7px;
}

/**footer**/
.background {
    background-color: #0a142f;
    padding: 50px 50px;
}

.container {
    text-align: center;
}

.upskill {
    font-family: "Actor", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    opacity: 0.6;
    letter-spacing: 2.8px;
    margin-bottom: 20px;
}

.req {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.visual {

    text-align: center;
    width: 100%;
    font-family: "Actor", sans-serif;
    font-size: 22px;
    color: #ffff;
    opacity: 0.8;
    line-height: 1.83;
    margin-bottom: 45px;
}

.button button {
    font-family: "Actor", sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #ffff;
    border: none;
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #0081fe;
    margin-bottom: 50px;
}

.button button:hover {
    background-color: #4ea7ff;
}

.cr {
    font-family: "Actor", sans-serif;
    font-size: 16px;
    color: #ffff;
    opacity: 0.7;
    margin-bottom: 50px;
}

.line {
    border: 1px solid #fff;
    opacity: 0.2;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    font-family: "Actor", sans-serif;
    font-size: 16px;
    color: #fff;
    padding-left: 180px;
}

.footer-p a {
    color: inherit;
    max-width: 150px;
}

.footer-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}