/**Responsive**/
@media screen and (max-width: 768px) {
    header {
        background-image: url('assets/images/nyc.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 100%;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(90, 90, 95, 0.333);
    }

    .header-logo {
        align-self: stretch;
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        gap: 30px;
        padding-top: 10px;
        padding-right: 20px;
    }

    .revou {
        width: 45px;
    }

    .km,
    .msib {
        width: 70px;

    }

    .header-title {
        text-align: center;
        color: #ffff;
    }

    header h1 {
        font-size: 2em;
        justify-content: center;
        line-height: 1px;
        padding-bottom: 20px;
        text-shadow:
            -3px -3px 0 navy,
            3px -3px 0 navy,
            -3px 3px 0 navy,
            3px 3px 0 navy;
    }

    header p {
        font-size: 1em;
        line-height: 1px;
        text-shadow:
            -2px -2px 0 #0a142f,
            2px -2px 0 #0a142f,
            -2px 2px 0 #0a142f,
            2px 2px 0 #0a142f;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        gap: 25px;
        font-size: 15px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    .footer-img {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: 0;
    }

    .footer-p {
        display: flex;
        flex: 2;
        justify-content: center;
        gap: 45px;
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #fff;
    }

    .footer-p a {
        color: inherit;
        text-decoration: none;
    }

    .footer-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 25px;
    }
}

@media screen and (max-width: 481px) {
    header {
        background-image: url('assets/images/nyc.jpg');
        background-position: top;
        background-size: cover;
        height: 250px;
        width: 100%;
        position: relative;
    }

    .revou {
        width: 40px;
    }

    .km,
    .msib {
        width: 60px;

    }

    .header-title {
        text-align: left;
        color: #ffff;
        margin-left: 50px;
        margin-top: 20px;
    }

    header h1 {
        font-size: 2em;
        border-bottom: 3px solid #ffff;
        padding-bottom: 5px;
        width: 60%;
        text-shadow:
            -3px -3px 0 navy,
            3px -3px 0 navy,
            -3px 3px 0 navy,
            3px 3px 0 navy;
    }

    header p {
        font-size: 25px;
        line-height: 1px;
        text-shadow:
            -1px -1px 0 #0a142f,
            1px -1px 0 #0a142f,
            -1px 1px 0 #0a142f,
            1px 1px 0 #0a142f;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        gap: 25px;
        font-size: 10px;
    }

    .dashboard {
        display: flex;
        justify-content: right;
        gap: 30px;
        align-items: center;
    }

    .filter {
        display: flex;
        justify-content: right;
        gap: 20px;
    }

    .recordcount {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        width: 120px;
        height: 50px;
        background-color: #f0f0f0;
        color: #0a142f;
        border: 2px solid #0a142f;
        text-align: center;
        border-radius: 10px;
    }

    .recordcount span {
        font-size: 10px;
    }

    .dashboard select {
        background-color: #f0f0f0;
        font-size: 8px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid #0a142f;
        color: #0a142f;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 0;
    }

    .footer-img {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: 0;
    }

    .footer-p {
        display: flex;
        flex: 2;
        justify-content: center;
        gap: 45px;
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #fff;
    }

    .footer-p a {
        color: inherit;
        text-decoration: none;
    }

    .footer-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 25px;
    }
}